.form {
	max-width: 400px;
	padding: 20px;
	border-radius: 3px;
	text-align: center;
	color: gray;
	border: 1px solid gray;

	.title {
		border-bottom: 1px solid gray;
		margin-bottom: 20px;
		padding-bottom: 20px;
		font-size: 24px;
	}

	.errors {
		margin-bottom: 15px;
	}

	.mat-form-field {
		width: 80%;
	}

	.buttons {
		display: flex;
		justify-content: center;
		width: 100%;

		.mat-button + .mat-button {
			margin-left: 10px !important;
		}
	}
}
